.aboutTitle {
  font-family: 'Karla', sans-serif;
  font-size: 30px;
}

.aboutMe {
  font-family: 'Karla', sans-serif;
  font-size: 20px !important;
}

.headshot {
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .aboutTitle {
    font-size: 25px;
  }
  .aboutMe {
    font-size: 18px !important;
  }
  .headshot {
    height: 150px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
  }
}
