.titles {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.experienceTitle {
  font-family: 'Karla', sans-serif;
  font-size: 50px;
}

.buttonText {
  font-size: 20px;
  text-decoration: none;
  color: rgb(221, 209, 209);
  font-weight: 500;
  font-family: 'Karla', sans-serif;

}

.resumeBtn {
  margin-bottom: 30px;
  align-content: center;
  background-color: rgb(73, 97, 120) !important;
  
}

.resumeBtn:hover {
  background-color: #658ebd !important;
}

.languages li {
  list-style-type: none;
  font-size: 25px;
  font-family: 'Karla', sans-serif;
}

.languages li:hover {
  color: rgb(149, 149, 208);
  font-weight: bolder;
}

.educationTitle {
  font-family: 'Karla', sans-serif;
  font-size: 30px !important;
  font-weight: bolder !important;
}

.educationTimeline {
  font-family: 'Karla', sans-serif;
  font-size: 25px !important;
}
