.name {
  font-family: 'Dancing Script', cursive;
  font-size: 50px !important;
}

.navItems {
  font-family: 'Karla', sans-serif;
}

.navItems a:hover {
  color: rgb(149, 149, 208);
  font-weight: bolder;
}

.navItems a:active {
  color: rgb(34, 161, 108);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* height of sticky header */
}

/* responsiveness for navbar */
@media screen and (max-width: 991px) {
  html {
    scroll-padding-top: 300px;
  }
}

@media screen and (max-width: 991px) {
  html {
    scroll-padding-top: 300px;
  }
}

@media screen and (max-width: 319px) {
  .name {
    font-size: 40px !important;
  }
  html {
    scroll-padding-top: 300px;
  }
}
